<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>

    <!--Iconos Boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!--Estilos Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!--Estilos-->
    <link rel="stylesheet" href="./css/navBarNew.css">
</head>

<body>

    <!--Barra de navegacion-->

    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-main text-white">
        <div class="container">
            <!-- Branding -->
            <a href="navBarNew.html" class="navbar-brand">
                <img src="./img/book.png" alt="Logo" class="img-fluid">
                <span class="h5 fw-bold">EDUPERFORMANCE</span></a>
            <!-- Btn -->
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav"
                aria-expanded="false" aria-label="Barra de navegación">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--  Items-->
            <div class="collapse navbar-collapse" id="mainNav">
                <div class="nav ms-auto flex-column flex-md-row">
                    <a href="./noticias_sesion.html" class="nav-link active">Noticias</a>
                    <a href="./preguntas_frecuentes.html" class="nav-link">Preguntas</a>
                    <a href="./formularioDeAtencion.html" class="nav-link">Contacto</a>
                    <a href="./perfil.html" class="nav-link">Perfil</a>
                    <a href="./recursos.html" class="nav-link">Recursos</a>
                    <a href="./noticias.html" class="nav-link">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </nav>


    <!--Carousel informativo-->

    <div id="carouselExampleIndicators" class="carousel slide mt-5">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active mt-5">
                <a href="https://www.unesco.org/es/digital-education?hub=343"><img src="./img/aprendizaje1.png" class="d-block w-100 img-fluid" alt="..."></a>
            </div>
            <div class="carousel-item mt-5">
                <a href="https://www.unesco.org/es/sustainable-development/education?hub=343"><img src="./img/aprendizaje2.png" class="d-block w-100 img-fluid" alt="..."></a>
            </div>
            <div class="carousel-item mt-5">
                <a href="https://www.unesco.org/es/global-citizenship-peace-education?hub=87862"><img src="./img/aprendizaje3.png" class="d-block w-100 img-fluid" alt="..."></a>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--Portafolio de cursos-->

    <div class="py-4 caja">

        <header>
            <h2><strong>Eventos y Talleres</strong></h2>
            <hr>
        </header>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col">
                <div class="card h-100 shadow p-3">
                    <img src="./img/curso1.jpg" class="img-card" alt="">
                    <br>
                    <h4>🗣️ Charla "Habilidades Blandas"</h3>
                    <p>Fortalece tus capacidades de comunicación, liderazgo y trabajo en equipo. </p>
                    <button class="btn btn-success">Ingresar</button>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow p-3">
                    <img src="./img/curso10.jpg" class="img-card" alt="">
                    <br>
                    <h4>🌳 Picnic</h3><br>
                    <p>Espacio de integración y conexión al aire libre para compartir y generar redes.</p>
                    <button class="btn btn-success">Ingresar</button>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow p-3">
                    <img src="./img/curso2.jpg" class="img-card" alt="">
                    <br>
                    <h4>💰 Inteligencia Financiera</h3>
                    <p>Aprende a gestionar tu dinero de forma inteligente y toma mejores decisiones económicas.</p>
                    <button class="btn btn-success">Ingresar</button>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow p-3">
                    <img src="./img/curso4.jpg" class="img-card" alt="">
                    <br>
                    <h4>💻 Habilidades Digitales</h3>
                    <p>Desarrolla competencias tecnológicas clave para destacar en entornos digitales.</p><br>
                    <button class="btn btn-success">Ingresar</button>
                </div>
            </div>

        </div>
    </div>

    <!--Eventos y talleres-->

    <div class="py-4 caja">

        <header>
            <h2><strong>Portafolio de cursos</strong></h2>
            <hr>
        </header>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col">
                <div class="card h-100 shadow p-3">
                    <img src="./img/curso16.jpg" class="img-card" alt="">
                    <br>
                    <h4>🛡️ Programación Segura y Ciberseguridad Básica.</h3>
                    <p>Adquiere las prácticas esenciales para desarrollar software resistente y proteger tus aplicaciones de amenazas comunes.</p>
                    <button class="btn btn-success">Ingresar</button>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow p-3">
                    <img src="./img/curso11.jpg" class="img-card" alt="">
                    <br>
                    <h4>🔧Control de Versiones con Git y GitHub.</h3>
                    <p>Aprende a gestionar proyectos colaborativos de forma eficiente con las herramientas más utilizadas en la industria.</p>
                    <button class="btn btn-success">Ingresar</button>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow p-3">
                    <img src="./img/curso12.jpg" class="img-card" alt="">
                    <br>
                    <h4>🤖 Introducción a la Inteligencia Artificial.</h3>
                    <p>Explora los conceptos básicos de IA y aprende a integrar modelos de machine learning en tus aplicaciones.</p>
                    <button class="btn btn-success">Ingresar</button>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow p-3">
                    <img src="./img/curso14.jpg" class="img-card" alt="">
                    <br>
                    <h4>🏗️ Arquitectura de Software Moderna.</h3>
                    <p>Aprende a diseñar sistemas escalables, mantenibles y eficientes utilizando buenas prácticas y patrones de arquitectura.</p>
                    <button class="btn btn-success">Ingresar</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Sección del footer general-->

    <footer class=" text-white py-4">
        <div class="container">
            <nav class="row justify-content-center">
                <!-- Logo -->
                <a href=""
                    class="col-12 col-md-3 text-reset d-flex align-items-center justify-content-center mb-3 mb-md-0 text-decoration-none text-uppercase fw-bold">
                    <img src="./Img/book.png" alt="logo Eduperformance" class="img-logo mr-2 mx-2">
                    EduPerformance
                </a>
                <!-- menu -->
                <ul class="col-5 col-md-6 list-unstyled text-center align-self-center">
                    <li class="font-weight-bold">© 2025 EduGestión. Todos los derechos reservados. | Desarrollado con ❤️ para la educación.</li>
                </ul>
                <!-- social networks -->
                <ul class="col-10 col-md-3 list-unstyled">
                    <li class="font-weight-bold text-uppercase my-2">redes Sociales</li>
                    <li class="d-flex justify-content-between">
                        <!-- FB -->
                        <a href="#" class="text-reset">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <!-- Twitter -->
                        <a href="#" class="text-reset"><i class="fab  fa-twitter"></i></a>
                        <!-- Instagram -->
                        <a href="#" class="text-reset"><i class="fab fa-instagram"></i></a>
                        <!-- Pinterest -->
                        <a href="#" class="text-reset"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>

    <!--Logica Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
</body>

</html>