* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container-master {
  margin-top: 80px;
  background-color: rgb(27, 85, 59);
  padding: 1% 25%;
}

body {
  background-color: rgb(27, 85, 59);
  color: rgb(3, 33, 50);
}


.navbar-brand>img {
  width: 55px;
  ;
}

.navbar-main .active {
  text-decoration: underline wavy var(--color-purple);
  text-underline-offset: 9px;
}

.navbar-main {
  background-color: #6ea998;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #6ea998;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.texto-header {

  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.contenedor-pregunta {
  background-color: white;
  padding: 0.5%;
}

.texto-pregunta {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.container-p {
  background-color: white;
  padding: 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-h {
  background: #6ea998;
  padding: 5%;
  border-radius: 10px;
}

.espacio {
  margin-right: 30px;
}

strong {
  color: #ffffff;
}

li {
  list-style: none;
}


a {
  text-decoration: none;

  color: black;
}

.caja {
  padding: 0% 2%;
}

footer {
  background-color: rgb(56, 95, 117);
}

.img-logo {
  width: 40px;
  border: none;
}

.marco,
.contact-info {
  width: 350px;
  margin-top: 30px;
  padding: 0%;
}

.social-links {
  width: 450px;
  padding: 10px;
}

.eslogan {
  width: 600px;
  padding: 20px 10px;
  font-size: 16px;
}

.icon {
  margin-left: 40px;
}

.size,
.copyright {
  font-size: 15px;
  padding: 10px 2px;
}

a,
.titulo {
  color: rgb(0, 0, 0) !important;
}

a:hover,
.titulo:hover {
  color: #ffffff !important;
  transition: color 0.3s ease;
}